################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ZDToolbox/obj
/ZDToolbox.v3.ncrunchsolution.user
