################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ZDToolbox/obj
/ZDToolbox.v3.ncrunchsolution.user
/Resources/bin/Debug/net6.0
/Resources/obj
/ZDToolbox/bin/Debug/net6.0
